.project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    flex-direction: column;
}

.project h1{
    text-transform: none;
}

.project p{
    font-size: 1.2rem;
    font-weight: 400;
}

.project-info{
    height: 853px;
    width: 1280px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-info img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.team-content {
    padding: 2rem 1rem 2rem;
}

.team-content p{
    font-size: 1.2rem;
}