.single-team {
    height: 280px;
    margin: 0px 10px;
}

.slick-prev button,
.slick-next button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2.2em;
  height: 300px;
  width: 60px;  
  transition: background-color 0.3s ease; 
  position: relative;
}

.slick-prev button {
    transform: translate(-50%, -54%);
    border-radius: 20px 0px 0px 20px;
}

.slick-next button {
  transform: translate(-19%, -54%);
  border-radius: 0px 20px 20px 0px;
}

/* Hover effect */
.slick-prev button:hover,
.slick-next button:hover {
  background: linear-gradient(to bottom, rgba(0, 123, 255, 0.5), rgba(62, 193, 213, 0.5));
  color: white;
}

.team-member-thumb{
    background-color: #fff;
}

.team-member-thumb img{
    height: 280px;
    width: 100%;
}

.slick-track{
  padding: 20px 0px;
}

.learn-more-button{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 300px;
  position: relative;
}