footer{
    width: 100%;
    /* height: 80px; */
    line-height: 80px;
    background: #caeefa;
    padding: 0px 30px;
}

.footer-container{
    width: 100%;
}

footer .logo img{
    width: 50%;
    margin-bottom: 1rem;
}

footer .logo p{
    line-height: 24px;
}

footer .social__links a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
}

.quick-link {
    line-height: 1.5; /* Adjust the line-height as needed */
  }

.footer__link-title{
    color: var(--heading-color);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.footer__quick-links li{
    line-height: 12px;
    height: fit-content;
}

.footer__quick-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    
}

.footer__quick-links h6 span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
}

ul li a{
    text-decoration: none;
    color: var(--text-color);
    line-height: 12px;
}

.footer__quick-links ul li a:active, a:hover{
    color: var(--secondary-color);
}

.copyright{
    border-top: solid 2px rgba(110, 112, 116, 0.2);;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.copyright li{
    border-left: solid 2px rgba(110, 112, 116, 0.2);
    /* color: rgba(255, 255, 255, 0.35); */
    color: var(--text-color);
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
}

.copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}