/* google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* css variables */
:root{
  --primary-color: #444;
  --secondary-color: #3ec1d5;
  --body-bg: #fff;

  --heading-color: #0b2727;
  --text-color: #6e7074;

  --btn-hover: #60ccdc;
  --section-headline: #333;

  --font-name: "Open Sans", sans-serif;
  --heading-font-name: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  color: var(--primary-color);
  font-family: var(--font-name);
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

section {
  margin: 5px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-name);
  color: var(--primary-color);
  margin: 0 0 15px;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}


a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0 none;
}

ul {
  list-style: none;
  text-decoration: none;
}

.container{
  width: 100%;
  margin: auto;
}  